<h3>{{titulo}}</h3>
<div class="form">
  <form> 
    
    <label for="nome">Nome</label><p>
    <input type="text" id="nome" name="nome" placeholder="Nome.." [(ngModel)]="produto.nome">
    
    <label for="preco">Preco</label><p>
    <input type="text" id="preco" name="preco" placeholder="Preco.." [(ngModel)]="produto.preco">

        <label for="preco">Quantidade</label><p>
    <input type="text" id="quantidade" name="quantidade" placeholder="Quantidade.." [(ngModel)]="produto.quantidade">

        <label for="preco">Fabricante</label><p>
    <input type="text" id="fabricante" name="fabricante" placeholder="Fabricante.." [(ngModel)]="produto.fabricante">

        <label for="preco">Website</label><p>
    <input type="text" id="siteFabricante" name="siteFabricante" placeholder="Website.." [(ngModel)]="produto.website">

        <label for="preco">Telefone do Fabricante</label><p>
    <input type="text" id="telFabricante" name="telFabricante" placeholder="Telefone do Fabricante.." [(ngModel)]="produto.telfabricante">

        <label for="preco">Nome do Vendedor</label><p>
    <input type="text" id="nomeVendedor" name="nomeVendedor" placeholder="Nome do Vendedor.." [(ngModel)]="produto.nomevendedor">

        <label for="preco">Telefone do Vendedor</label><p>
    <input type="text" id="telVendedor" name="telVendedor" placeholder="Telefone do Vendedor.." [(ngModel)]="produto.telvendedor">

    <div class="buttons">
      <input type="button" (click)="salvarProduto()" value="Salvar">
      <input type="button" (click)="cancelar()" value="Cancelar">
    </div>
  </form>
</div>
